{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'vendored/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendored/bootstrap.min.css' %}">
    <script src="{% static 'vendored/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'vendored/popper.min.js' %}"></script>
    <script src="{% static 'vendored/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/announcement.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'home/img/icon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Code Builder</title>
</head>
<body>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
</div>
<div class="container" style="padding: 0px">

    <!--NAV BAR-->
    <nav class="main-nav">
        <a href="{% url 'home' %}"><img
                src="https://see.fontimg.com/api/renderfont4/YzE0o/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/VGhlIGNvZGUgYnVpbGRlcg/aquire-light.png"
                alt="Microsoft" class="logo"></a>
        {% if user.is_authenticated %}
            <ul class="right-menu" style="margin-top: 1rem">
                <li><a href="{% url 'announcements' %}" style="color: #262626; text-decoration: none"><i
                        class="fas fa-bell"></i> Announcements </a></li>
                <li><a href="{% url 'profile' %}" style="color: #262626; text-decoration: none"><i
                        class="fas fa-user"></i> {{ user.username }} </a></li>
                <li style="cursor: pointer;">
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"
                                style="border: none; padding: 0px; background-color: white; outline: none;"><i
                                class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        {% endif %}
        {% if messages %}
            <div role="alert" style="padding: 1rem 1rem 0; background-color: #90EE90; border-radius: 2rem;">
                <strong style="color: green; vertical-align: middle;">
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </strong>
            </div>
        {% endif %}
    </nav>

    {% block content %} {% endblock %}

    <br>
    <hr>
    <!--Follow-->
    <section class="follow" style="float: right;">
        <p>
            <a href="{% url 'policy' %}" target="_blank" style='margin-left: 1rem; text-decoration: none'>
                <i class="fas fa-shield-alt"></i>Policies
            </a>
            © The Code Builder
        </p>
    </section>
</div>
</body>
</html>
