{% extends 'home/base.html' %}

{% load static %}

{% block content %}
		<!--ShowCase-->
		<header class="showcase" style="background: url({% static 'home/img/front-end-web-development.jpg' %}) no-repeat center center/cover;">
			<img src = "{% static 'home/img/logo1.png' %}" height = "50%">
			<h2>The Code Builder</h2>
			<p>
        		Formal Description
      		</p>
      		{% if not user.is_authenticated %}
      		<a href="{% url 'portal' %}" class="btn">
      			Sign In <i class="fas fa-chevron-right"></i>
      		</a>
      		{% else %}
      		<a href="{% url 'dashboard' %}" class="btn">
      			Dashboard <i class="fas fa-chevron-right"></i>
      		</a>
      		{% endif %}
		</header>

		
		<!-- Xbox -->

		<section class="xbox" style="background: url({% static 'home/img/xbox.png' %}) no-repeat center center/cover;">
			<div class="content">
				<h2>Event Pass</h2>
		        <p>Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality
		          console and PC games. Play together with friends and discover your
		          next favorite game.</p>
		        <a href="{% url 'portal' %}" class="btn">
		            Buy Now <i class="fas fa-chevron-right"></i>
		        </a>
			</div>
		</section>
		
		<ul class="nav nav-tabs">
			<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#workshops">Workshops</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bootcamps">Bootcamps</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#powertalks">Powertalks</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#summit">Tech Summits</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#hackathon">Hackathons</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#comps">Tech Competitions</a></li>
		</ul>

		<div class="tab-content">
			<div id="workshops" class="tab-pane fade show active">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Workshop Heading #1</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Workshop </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
						<div class="carousel-item">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Workshop Heading #2</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Workshop </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
						<div class="carousel-item">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Workshop Heading #3</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Workshop </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
					</div>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div id="bootcamps" class="tab-pane fade show">
				<div id="carouselExampleControls_1" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Bootcamp Heading #1</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Bootcamp </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
						<div class="carousel-item">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Bootcamp Heading #2</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Bootcamp </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
						<div class="carousel-item">
							<section class="carbon dark" style = "background: url('https://wallpaperaccess.com/full/2109.jpg') no-repeat center center/cover;">
								<div class="content">
								<h2>Bootcamp Heading #3</h2>
								<br>
								<h4>Our Mentors :</h4>
								<hr style="background-color: white;">
								<div style="margin-left: 50%; transform: translateX(-50%)">
									<figure style="display: inline-block; margin-right: 1rem">
										<img src="https://www.w3schools.com/howto/img_avatar.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Tim</figcaption>
									</figure>
									<figure style="display: inline-block;">
										<img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Trulli" style="width:5rem; border-radius: 50%">
										<figcaption style="text-align: center;">Nancy</figcaption>
									</figure>
								</div>
								<p>	Mentor 1 : Detail<br><br>
								Mentor 2 : Detail					
								<hr style="background-color: white">
								<h3> About Bootcamp </h3>
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								Xbox Game Pass Ultimate Xbox Live Gold and over 100 high-quality console and PC games. Play together with friends and discover your next favorite game.
								</p>
								<br><br><br>
								</div>
							</section>
						</div>
					</div>
					<a class="carousel-control-next" href="#carouselExampleControls_1" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<br><br>
      <!-- Carbon -->
      <section class="carbon dark" style="	background: url({% static 'home/img/carbon.jpg' %}) no-repeat center center/cover;">
        <div class="content">
          <h2>Commiting To Coders</h2>
          <p>Lorem Ipsum Commit</p>
            <a href="{% url 'contact-us' %}" class="btn">
              Contact Us <i class="fas fa-chevron-right"></i>
            </a>
        </div>
      </section>

{% endblock %}